# To make a local copy of the measurement data run:
# wget -r -np -nH --cut-dirs=5 --reject 'index.html*' --accept '*.merged.gz' 'http://www.fit.vutbr.cz/homes/rychly/juniper-sa/measurement/twitterstorm/'

data.*
